* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* main {
  padding-top: 100px;
} */

.paddingCommon {
  padding-top: 100px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* @media (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #232323;
}
